<?xml version="1.0"?>

<model>
  <name>Humanoid from MJCF</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>

  <author>
    <name></name>
  </author>

  <description>
    Humanoid model from MJCF converted to SDFormat

    MJCF Model: https://github.com/deepmind/mujoco/blob/36b47e56d08e04cee90adc207105c2c58271f998/model/humanoid/humanoid.xml
  </description>

</model>

