<?xml version='1.0'?>
<model>
    <name>Panda</name>
    <version>1.0</version>
    <sdf version='1.7'>model.sdf</sdf>

    <description>
        Franka Emika Panda robot with Ignition position controller and PBR materials.

        Initially copied from https://app.ignitionrobotics.org/AndrejOrsula/fuel/models/panda
    </description>
</model>
